extends index.pug

block content
  h2!=subheadline
  p!= messagetext
  table#tab(border='1')
    tr
      td Komponente
      td Link
      td Status
    tr
      td MP3 Player
      td a(href='/player') Player
      td ready
    tr
      td RFID Reader
      td a(href='/rfid') RFID
      td not connetced
    tr
      td RFID Tag Persistenz
      td a(href='/tags') RFID Tags
      td OK
