table
  tr
    td label(class="info")|Dateityp:
      input(type='select', name='AudioType', class='clsTxt', id='AudioType', required,
        option (value='Hörbuch', id='AudioBook'),
        option (value='Hörspiel', id='Musical'),
        option (value='Musik', id='Music'),
        option (value='Töne', id='Sound')
      )
