doctype html
html
  head
    title Fairytale
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-overrides.css', type='text/css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/layout.css')
    link(rel='stylesheet', type='text/css', href='/css/elements.css')
    link(rel='stylesheet', type='text/css', href='/css/icons.css')
    link(rel='stylesheet', type='text/css', href='/css/jquery-ui-1.10.2.custom.css')
    link(rel='stylesheet', type='text/css', href='/lib/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/css/index.css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    //if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    header.navbar.navbar-inverse(role='banner')
      .navbar-header
        a.navbar-brand(href='index.html')
          img(src='/img/logo.png', alt='logo')
      ul.nav.navbar-nav.pull-right.hidden-xs
        li.dropdown
          a.dropdown-toggle.hidden-xs.hidden-sm(href='#')
            | Your account
            b.caret
    #sidebar-nav
      ul#dashboard-menu
        li.active
          .pointer
            .arrow
            .arrow_border
          a(href='index.html')
            i.fa.fa-home
            span Home
        li
          a.dropdown-toggle(href='#')
            i.fa.fa-users
            span Usuarios
            span.glyphicon.glyphicon-chevron-down
          ul.submenu
            li
              a(href='user-list.html') User list
            li
              a(href='new-user.html') New user form
    .content
        block maincontent
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/jquery-ui-1.10.2.custom.min.js')
    script(src='/lib/jquery-knob/dist/jquery.knob.min.js')
    script(src='/js/jquery.flot.js')
    script(src='/js/jquery.flot.stack.js')
    script(src='/js/jquery.flot.resize.js')
    script(src='/js/theme.js')
