table#tab(border='1')
  tr
    td a(href='/player') Info
    td Diese Infoseite
  tr
      td a(href='/player/play') Play
      td Datei Abspielen
  tr
      td a(href='/player/pause') Pause
      td Pause (Position merken)
  tr
      td a(href='/player/forward') Forward
      td Vorspulen
  tr
      td a(href='/player/rewind') Rewind
      td Zurückspulen
  tr
      td a(href='/player/next') Next
      td N&auml;chstes Kapitel
  tr
      td a(href='/player/prev') Previous
      td Vorheriges Kapitel
