// register form
form(id='create_tag_form' name='addTag' method='post' action='/tags/tag')
  div.form-group
    label(for='MediaTitle') Titel:
    input#MediaTitle.form-control(type='text', placeholder='Titel' name='MediaTitle', required)
  div.form-group
    label(for='TagRawData') RFID Tag Raw Data:
    input#TagRawData.form-control(type='text', placeholder='RFID Tag Raw Data' name='TagRawData', required)
  div.form-group
    label(for='Description') Beschreibung:
    input#Description.form-control(type='text', placeholder='Inhaltsbeschreibung' name='Description')
  div.form-group
    label(for='MediaFile') Audio Dateien:
    input#MediaFile.form-control(type='file' name='MediaFile', required)
  div.form-group
    label(for='CoverFile') Coverbild Dateien:
    input#CoverFile.form-control(type='file' name='CoverFile')
  button.btn.btn-primary(id='submit' name='submit' type='submit') Erstellen
  button.btn.btn-primary(id='cancel' name='cancel' type='cancel') Abbrechen
