style.
  footer {
    position: absolute;
    bottom: 0;
    align: center;
    width:100%;
    height: 60px;
  }
<!--Footer-->
<footer class="page-footer">
  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-6">
        <p>copyright (c) 2017 by <a href='mailto:c.guenther@mac.com'>Chris</a></p>
      </div>
